<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simitone.Installer.Driver.Properties.Constants" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Simitone.Installer.Driver.Properties.Constants>
            <setting name="GitUser" serializeAs="String">
                <value>riperiperi</value>
            </setting>
            <setting name="GitRepoName" serializeAs="String">
                <value>Simitone</value>
            </setting>
            <setting name="GitRepoAddress" serializeAs="String">
                <value>https://github.com/riperiperi/Simitone</value>
            </setting>
        </Simitone.Installer.Driver.Properties.Constants>
    </applicationSettings>
</configuration>